.container{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;    
    background-image: url(./wallpaperbetter.com_1920x1080.jpg);
    background-size: cover;
}

.boxButton{
    display: grid;
    place-items: center;
}

.button1{
    background-color: rgb(63, 63, 63);
}
