
.boxCountry{
    width: 99.1vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../lading/wallpaperbetter.com_1920x1080.jpg');
    background-size: cover;
    align-items: center;
    background-attachment: fixed;
}

.boxFiltered{
    width: 600px;
    height: 100px;
    display: flex;
    margin: 10px;

}

.boxOrder{
    margin-left: 25px;
    width: 20vw;
    display: flex;
    flex-direction: row;
}

.boxFilter{
    grid: 20px;
    width: 15vw;
    display: flex;
    flex-direction: row;
}

.selectFilter{
    justify-content: center;
    align-items: center;
}

.filter{
    gap: 20px;

    display: flex;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    padding: 15px; 
    height: 80vh;
    width: 80%;
    justify-content: center;
    gap: 30px;
    overflow: auto;
}

